<body>
    <section>
        <div class="wave"></div>
        <ul>
            <li> <a routerLink="/PatientProfile"> MY PROFILE</a> </li>
            <li> <a routerLink="/searchPharmacy"> SEARCH PHARMACIES</a></li>
            <li> <a href="Search.html"> SEARCH PHARMACISTS</a></li>
            <li> <a href="Search.html"> SEARCH DERMATOLOGISTS</a></li>
            <li> <a routerLink="/PatientScheduleFarmaApp"> MAKE A PHARMACISTS APPOINTMENT </a></li>
            <li> <a routerLink="/MakeDermatologistAppointment"> MAKE A DERMATOLOGICAL APPOINTMENT</a></li>
            <li> <a routerLink="/PatientOrdersMedicine">RESERVE MEDICINE</a></li>
            <li> <a href="UserReview.html">GIVE REVIEW</a></li>
            <li> <a routerLink="/userComplaint">MAKE A COMPLAINT</a></li>
            <li (click) = "logout()"><a>LOGOUT</a></li>
        </ul>
    </section>
</body>