<table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Id</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let medicine of medicineList ">
        <td>{{ medicine.name }}</td>
        <td>{{ medicine.id }}</td>
        <td>
          <button class="btn btn-danger" (click)="deleteMedicine(medicine)">
            Delete medicine
          </button>
        </td>
      </tr>
  
      <td><a [routerLink]="['/pharmacyAdmin']">Nazad</a></td>
    </tbody>
  </table>
  