<table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Composition</th>
        <th>Form</th>
        <th>Manufactirer</th>
        <th>Medicine code</th>
        <th>Medicine type</th>
        <th>Additional comments</th>
        <th>Prescription</th>
        <th>Id</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let medicine of medicineList ">
        <td>{{ medicine.name }}</td>
        <td>{{ medicine.composition }}</td>
        <td>{{ medicine.form }}</td>
        <td>{{ medicine.manufacturer }}</td>
        <td>{{ medicine.medicineCode }}</td>
        <td>{{ medicine.medicineType }}</td>
        <td>{{ medicine.additionalComments }}</td>
        <td>{{ medicine.prescription }}</td>
        <td>{{ medicine.id }}</td>
        <td>
          <button class="btn btn-danger" (click)="deleteMedicine(medicine)">
            Delete medicine
          </button>
          
          &nbsp;
          <button class="btn btn-danger" (click)="updateMedicine(medicine)">
            Update additional comments
          </button>
          
        </td>
      </tr>
      <tr>
      <td>
        <form [formGroup]="searchForm" (ngSubmit)="searchMedicineById()">
          <div class="form-group">
            <label for="searchValue">Id</label>
            <input type="text" formControlName="searchValue" required />
          </div>
        <button type="submit" class="btn btn-success">
          Search by Id
        </button>
      </form>
      <td>
      <form [formGroup]="searchForm" (ngSubmit)="searchMedicineByString()">
        <div class="form-group">
          <label for="searchValue">String</label>
          <input type="text" formControlName="searchValue" required />
        </div>
      <button type="submit" class="btn btn-success">
        Search by string
      </button>
      </form>
      </td>
      </tr>
      <tr>
        <button class="btn btn-danger" (click)="clearSearch()">
          Clear search
        </button>
      </tr>
      <td><a [routerLink]="['/pharmacyAdmin']">Nazad</a></td>
    </tbody>

  </table>
  