<!DOCTYPE html>
<div>
    <mat-toolbar color = "primary">
        <span>List of medicine</span>
        <span style = "flex: 1 1 auto;"></span>

        <a mat-button (click) = "back()">Back</a>
        <a mat-button (click) = "logout()">Logout</a>
       

    </mat-toolbar>
    &nbsp;
    <mat-card class = "table-card1">
        <div fxLayout fxLayoutAlign="center center">
            <mat-form-field fxFlex="40%">
              <input matInput type="text" (keyup)="doFilter($event)" placeholder="Filter">
            </mat-form-field>
          </div>
      <mat-card-title>Available medicine</mat-card-title>

        <div class = "data-table1">

            <table mat-table [dataSource]="medicineListSource">
              <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef class = "coloumnName">Name</th>
                  <td mat-cell *matCellDef="let element" class = "coloumnName" type="name"> {{element.name}} </td>
              </ng-container>
              <ng-container matColumnDef="composition">
                  <th mat-header-cell *matHeaderCellDef class = "coloumnName">Composition</th>
                  <td mat-cell *matCellDef="let element" class = "coloumnName" type="composition"> {{element.composition}} </td>
              </ng-container>
              <ng-container matColumnDef="form">
                  <th mat-header-cell *matHeaderCellDef class = "coloumnName">Form</th>
                  <td mat-cell *matCellDef="let element" class = "coloumnName" type="form"> {{element.form}} </td>
              </ng-container>
              <ng-container matColumnDef="manufacturer">
                  <th mat-header-cell *matHeaderCellDef class = "coloumnName">Manufacturer</th>
                  <td mat-cell *matCellDef="let element" class = "coloumnName" type="manufacturer"> {{element.manufacturer}} </td>
              </ng-container>
              <ng-container matColumnDef="medicineCode">
                  <th mat-header-cell *matHeaderCellDef class = "coloumnName">Medicine code</th>
                  <td mat-cell *matCellDef="let element" class = "coloumnName" type="medicineCode"> {{element.medicineCode}} </td>
              </ng-container>
              <ng-container matColumnDef="medicineType">
                  <th mat-header-cell *matHeaderCellDef class = "coloumnName">Medicine Type</th>
                  <td mat-cell *matCellDef="let element" class = "coloumnName" type="medicineType"> {{element.medicineType}} </td>
              </ng-container>
              <ng-container matColumnDef="additionalComments">
                  <th mat-header-cell *matHeaderCellDef class = "coloumnName">Additional comments</th>
                  <td mat-cell *matCellDef="let element" class = "coloumnName" type="additionalComments"> {{element.additionalComments}} </td>
              </ng-container>
              <ng-container matColumnDef="prescription">
                  <th mat-header-cell *matHeaderCellDef class = "coloumnName">Prescription</th>
                  <td mat-cell *matCellDef="let element" class = "coloumnName" type="prescription"> {{element.prescription}} </td>
              </ng-container>
              <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef class = "coloumnName">Id</th>
                  <td mat-cell *matCellDef="let element" class = "coloumnName" type="id"> {{element.id}} </td>
              </ng-container>
              <ng-container matColumnDef="edit">
                <mat-header-cell  *matHeaderCellDef >  </mat-header-cell>
                <mat-cell *matCellDef="let element" >
                     <button mat-button color="primary" (click)="updateMedicine(element)"><mat-icon class="material-icons-outlined">
                      edit
                      </mat-icon></button>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="remove">
                <mat-header-cell  *matHeaderCellDef >  </mat-header-cell>
                <mat-cell *matCellDef="let element" >
                     <button mat-button color="primary" (click)="deleteMedicine(element)"><mat-icon class="material-icons-outlined">
                      remove
                      </mat-icon></button>
                </mat-cell>
              </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsPharmacyMedicineList"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsPharmacyMedicineList;"></tr>

            </table>
            <mat-paginator #paginatorMedicine [pageSize]="3" [pageSizeOptions]="[3, 6, 12]">
            </mat-paginator>
        </div>

      </mat-card>

      <mat-card class = "table-card2">
        <div fxLayout fxLayoutAlign="center center">
            <mat-form-field fxFlex="40%">
              <input matInput type="text" (keyup)="doFilter2($event)" placeholder="Filter">
            </mat-form-field>
          </div>
        <mat-card-title>Unavailable medicine</mat-card-title>

        <div class = "data-table2">
            <table mat-table [dataSource]="allOtherMedicineSource">
              <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef class = "coloumnName">Name</th>
                  <td mat-cell *matCellDef="let element" class = "coloumnName" type="name"> {{element.name}} </td>
              </ng-container>
              <ng-container matColumnDef="composition">
                  <th mat-header-cell *matHeaderCellDef class = "coloumnName">Composition</th>
                  <td mat-cell *matCellDef="let element" class = "coloumnName" type="composition"> {{element.composition}} </td>
              </ng-container>
              <ng-container matColumnDef="form">
                  <th mat-header-cell *matHeaderCellDef class = "coloumnName">Form</th>
                  <td mat-cell *matCellDef="let element" class = "coloumnName" type="form"> {{element.form}} </td>
              </ng-container>
              <ng-container matColumnDef="manufacturer">
                  <th mat-header-cell *matHeaderCellDef class = "coloumnName">Manufacturer</th>
                  <td mat-cell *matCellDef="let element" class = "coloumnName" type="manufacturer"> {{element.manufacturer}} </td>
              </ng-container>
              <ng-container matColumnDef="medicineCode">
                  <th mat-header-cell *matHeaderCellDef class = "coloumnName">Medicine code</th>
                  <td mat-cell *matCellDef="let element" class = "coloumnName" type="medicineCode"> {{element.medicineCode}} </td>
              </ng-container>
              <ng-container matColumnDef="medicineType">
                  <th mat-header-cell *matHeaderCellDef class = "coloumnName">Medicine Type</th>
                  <td mat-cell *matCellDef="let element" class = "coloumnName" type="medicineType"> {{element.medicineType}} </td>
              </ng-container>
              <ng-container matColumnDef="additionalComments">
                  <th mat-header-cell *matHeaderCellDef class = "coloumnName">Additional comments</th>
                  <td mat-cell *matCellDef="let element" class = "coloumnName" type="additionalComments"> {{element.additionalComments}} </td>
              </ng-container>
              <ng-container matColumnDef="prescription">
                  <th mat-header-cell *matHeaderCellDef class = "coloumnName">Prescription</th>
                  <td mat-cell *matCellDef="let element" class = "coloumnName" type="prescription"> {{element.prescription}} </td>
              </ng-container>
              <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef class = "coloumnName">Id</th>
                  <td mat-cell *matCellDef="let element" class = "coloumnName" type="id"> {{element.id}} </td>
              </ng-container>
              <ng-container matColumnDef="add">
                <mat-header-cell  *matHeaderCellDef >  </mat-header-cell>
                <mat-cell *matCellDef="let element" >
                     <button mat-button color="primary" (click)="addMedicineToPharmacy(element)"><mat-icon class="material-icons-outlined">
                      add
                     </mat-icon></button>
                </mat-cell>
              </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsOtherMedicineList"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsOtherMedicineList;"></tr>
            </table>
            
        <mat-paginator #paginatorOtherMedicine [pageSize]="3" [pageSizeOptions]="[3, 6, 12]">
        </mat-paginator>
        </div>

      </mat-card>


</div>

