<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>PENALTIES </span>
        <span style = "flex: 1 1 auto;"></span>
        <a mat-button routerLink = "/UserHomePage">HOMEPAGE</a>
        <a mat-button routerLink = "/PatientProfile">MY PROFILE</a>
        <a mat-button routerLink = "/login">LOGOUT</a>
      </mat-toolbar-row>
  </mat-toolbar>
  
  
    
    <br />
    <br />
    
    
  
    <mat-card class="example-card">
      <mat-card-header>
        <span class="title_card"><h2>PENALTIES</h2></span>
      </mat-card-header>
      <img mat-card-image src="assets/penalty.jpg" alt="Photo of a review">
      <mat-card-content>
          <h3 class="h3_title"><strong>YOUR NUMBER OF PENALTIES IS: {{this.patient.penals}}.</strong></h3>
          <br />
          <h3 class="h3_title"><strong>IF YOU GET 3 OR MORE PENALTIES, YOU WON'T BE ABLE TO: <br />
                1. SCHEDULE APPOINMENTS <br />
                2. ORDER MEDICINE .</strong></h3>
      </mat-card-content>
      <mat-card-actions class="exit"> 
      </mat-card-actions>
    </mat-card>
  
  