<!DOCTYPE html>
<div>
    <mat-toolbar color = "primary">
        <span>List of dermatologists</span>
        <span style = "flex: 1 1 auto;"></span>

        <a mat-button (click) = "back()">Back</a>
        <a mat-button (click) = "logout()">Logout</a>
       

    </mat-toolbar>
    &nbsp;
    <mat-card class = "table-card1">
        <div fxLayout fxLayoutAlign="center center">
            <mat-form-field fxFlex="40%">
              <input matInput type="text" (keyup)="doFilter($event)" placeholder="Filter">
            </mat-form-field>
          </div>
      <mat-card-title>Employed dermatologists</mat-card-title>

        <div class = "data-table1">

            <table mat-table [dataSource]="dermatologistListSource">
              <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef class = "coloumnName">Name</th>
                  <td mat-cell *matCellDef="let element" class = "coloumnName" type="name"> {{element.name}} </td>
              </ng-container>
              <ng-container matColumnDef="surname">
                  <th mat-header-cell *matHeaderCellDef class = "coloumnName">Surname</th>
                  <td mat-cell *matCellDef="let element" class = "coloumnName" type="surname"> {{element.surname}} </td>
              </ng-container>
              <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef class = "coloumnName">Email</th>
                  <td mat-cell *matCellDef="let element" class = "coloumnName" type="email"> {{element.email}} </td>
              </ng-container>
              <ng-container matColumnDef="phoneNumber">
                  <th mat-header-cell *matHeaderCellDef class = "coloumnName">Phone number</th>
                  <td mat-cell *matCellDef="let element" class = "coloumnName" type="phoneNumber"> {{element.phoneNumber}} </td>
              </ng-container>
              <ng-container matColumnDef="city">
                <th mat-header-cell *matHeaderCellDef class = "coloumnName">City</th>
                <td mat-cell *matCellDef="let element" class = "coloumnName" type="city"> {{element.city}} </td>
            </ng-container>
              <ng-container matColumnDef="rating">
                  <th mat-header-cell *matHeaderCellDef class = "coloumnName">Rating</th>
                  <td mat-cell *matCellDef="let element" class = "coloumnName" type="rating"> {{element.rating}} </td>
              </ng-container>
              <ng-container matColumnDef="remove">
                <mat-header-cell  *matHeaderCellDef >  </mat-header-cell>
                <mat-cell *matCellDef="let element" >
                     <button mat-button color="primary" (click)="removeDermatologist(element)"><mat-icon class="material-icons-outlined">
                      remove
                      </mat-icon></button>
                </mat-cell>
              </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsDermatologistList"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsDermatologistList;"></tr>

            </table>
            <mat-paginator #paginatorDermatologist [pageSize]="3" [pageSizeOptions]="[3, 6, 12]">
            </mat-paginator>
        </div>

      </mat-card>

      <mat-card class = "table-card2">
        <div fxLayout fxLayoutAlign="center center">
            <mat-form-field fxFlex="40%">
              <input matInput type="text" (keyup)="doFilter2($event)" placeholder="Filter">
            </mat-form-field>
          </div>
        <mat-card-title>Other dermatologists</mat-card-title>

        <div class = "data-table2">
            <table mat-table [dataSource]="allOtherDermatologistsSource">
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef class = "coloumnName">Name</th>
                <td mat-cell *matCellDef="let element" class = "coloumnName" type="name"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="surname">
                <th mat-header-cell *matHeaderCellDef class = "coloumnName">Surname</th>
                <td mat-cell *matCellDef="let element" class = "coloumnName" type="surname"> {{element.surname}} </td>
            </ng-container>
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef class = "coloumnName">Email</th>
                <td mat-cell *matCellDef="let element" class = "coloumnName" type="email"> {{element.email}} </td>
            </ng-container>
            <ng-container matColumnDef="phoneNumber">
                <th mat-header-cell *matHeaderCellDef class = "coloumnName">Phone number</th>
                <td mat-cell *matCellDef="let element" class = "coloumnName" type="phoneNumber"> {{element.phoneNumber}} </td>
            </ng-container>
            <ng-container matColumnDef="city">
              <th mat-header-cell *matHeaderCellDef class = "coloumnName">City</th>
              <td mat-cell *matCellDef="let element" class = "coloumnName" type="city"> {{element.city}} </td>
          </ng-container>
            <ng-container matColumnDef="rating">
                <th mat-header-cell *matHeaderCellDef class = "coloumnName">Rating</th>
                <td mat-cell *matCellDef="let element" class = "coloumnName" type="rating"> {{element.rating}} </td>
            </ng-container>
              <ng-container matColumnDef="add">
                <mat-header-cell  *matHeaderCellDef >  </mat-header-cell>
                <mat-cell *matCellDef="let element" >
                     <button mat-button color="primary" (click)="addDermatologistToPharmacy(element)"><mat-icon class="material-icons-outlined">
                      add
                     </mat-icon></button>
                </mat-cell>
              </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsAllOtherDermatologistsList"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsAllOtherDermatologistsList;"></tr>
            </table>
            
        <mat-paginator #paginatorOtherDermatologist [pageSize]="3" [pageSizeOptions]="[3, 6, 12]">
        </mat-paginator>
        </div>

      </mat-card>


</div>
