<!DOCTYPE html>
<body class = "supplier-profile-page-background">
    <mat-toolbar color = "primary">
        <mat-toolbar-row>
            <a mat-button>Write offers for incoming purchase orders</a>
            <a mat-button>View all offers</a>
            <a mat-button (click) = "logout()">Logout</a>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-card class = "card">
        <mat-card-title class = "card-title">Account information</mat-card-title>
        <form [formGroup] = "updateForm" class = "update-form">
            <mat-form-field class = "field">
                <mat-label>Username</mat-label>
                <input type = "text" matInput placeholder = "Username" formControlName = "username" readonly>
            </mat-form-field>
            <mat-form-field class = "field">
                <mat-label>Email</mat-label>
                <input type = "email" matInput placeholder = "Email" formControlName = "email" readonly>
            </mat-form-field>
            <mat-form-field class = "field">
                <mat-label>Name</mat-label>
                <input type = "text" matInput placeholder = "Name" formControlName = "name" required>
                <mat-error *ngIf = "hasError('name', 'required')">Name is required!</mat-error>
            </mat-form-field>
            <mat-form-field class = "field">
                <mat-label>Surname</mat-label>
                <input type = "text" matInput placeholder = "Surname" formControlName = "surname" required>
                <mat-error *ngIf = "hasError('surname', 'required')">Surname is required!</mat-error>
            </mat-form-field>
            <mat-form-field class = "field">
                <mat-label>Address</mat-label>
                <input type = "text" matInput placeholder = "Address" formControlName = "adress" required>
                <mat-error *ngIf = "hasError('adress', 'required')">Address is required!</mat-error>
            </mat-form-field>
            <mat-form-field class = "field">
                <mat-label>City</mat-label>
                <input type = "text" matInput placeholder = "City" formControlName = "city" required>
                <mat-error *ngIf = "hasError('city', 'required')">City is required!</mat-error>
            </mat-form-field>
            <mat-form-field class = "field">
                <mat-label>Country</mat-label>
                <input type = "text" matInput placeholder = "Country" formControlName = "country" required>
                <mat-error *ngIf = "hasError('country', 'required')">Country is required!</mat-error>
            </mat-form-field>
            <mat-form-field class = "field">
                <mat-label>Phone number</mat-label>
                <input type = "tel" matInput placeholder = "Phone number" formControlName = "phoneNumber" required>
                <mat-error *ngIf = "hasError('phoneNumber', 'required')">Phone number is required!</mat-error>
                <mat-error *ngIf = "hasError('phoneNumber', 'maxlength') || hasError('phoneNumber', 'minlength')">
                    Phone number has to have 10 digits!
                </mat-error>
            </mat-form-field>
            <mat-card-subtitle class = "card-title">Change password</mat-card-subtitle>
            <mat-form-field class = "field">
                <mat-label>New password</mat-label>
                <input type = "password"  matInput placeholder = "Type in new password" formControlName = "password">
            </mat-form-field>
        </form>
        <button (click) = "update()" [disabled] = "updateForm.invalid" mat-raised-button color="primary">Update</button>
    </mat-card>
</body>