<div class="col-md-6">
    <table class="table table-striped">
      <thead>
        <tr></tr>
      </thead>
      <tbody>
        <td><a [routerLink]="['/listOfPharmacists']">Lista svih farmaceuta</a></td>
        &nbsp;
        <td><a [routerLink]="['/addNewPharmacist']">Dodaj novog farmaceuta</a></td>
        &nbsp;
        <td><a [routerLink]="['/listOfMedicine']">Lista svih lekova</a></td>
        &nbsp;
        <td><a [routerLink]="['/addMedicine']">Dodaj nov lek</a></td>
        &nbsp;
        <td><a [routerLink]="['/listOfDermatologists']">Lista svih dermatologa</a></td>
        &nbsp;
        <td><a [routerLink]="['/addNewDermatologist']">Dodaj novog dermatologa</a></td>
      </tbody>
    </table>
  </div>
  