<div class="col-md-6">
  &nbsp;
  <a [routerLink]="['/listOfPharmacists']">Lista svih farmaceuta</a>
  &nbsp;
  <a [routerLink]="['/addNewPharmacist']">Dodaj novog farmaceuta</a>
  <br>
  &nbsp;
  <a [routerLink]="['/listOfMedicine']">Lista svih lekova</a>
  &nbsp;
  <a [routerLink]="['/addMedicine']">Dodaj nov lek</a>
  &nbsp;
  <a [routerLink]="['/searchMedicineById']">Pretraži lekove po id</a>
  &nbsp;
  <a [routerLink]="['/searchMedicineByString']">Pretraži lekove po stringu</a>
  <br>
  &nbsp;
  <a [routerLink]="['/listOfDermatologists']">Lista svih dermatologa</a>
  &nbsp;
  <a [routerLink]="['/addNewDermatologist']">Dodaj novog dermatologa</a>
  &nbsp;
  <a [routerLink]="['/searchDermatologistById']">Pretraži dermatologa po id</a>
  &nbsp;
  <a [routerLink]="['/searchDermatologistByString']">Pretraži dermatologa po stringu</a>
  &nbsp;
  <a (click) = "logout()">Logout</a>
</div>
  