.add-medicine-form{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
    
.field-width {
  width: 100%;
}

.card {
    width: 500px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #DEEDE6
}

.add-medicine-background {
    background: url(medicine.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0; 
}

.radio-button {
    margin: 5px;
}

.textarea-size {
    max-width: 500px; 
    max-height: 100px;
}