<!DOCTYPE html>
<body class = "add-medicine-background">
    <mat-toolbar color = "primary">
        <mat-toolbar-row>
            <span>Add medicine</span>
            <span style = "flex: 1 1 auto;"></span>
            <a mat-button routerLink = "/systemAdminProfilePage">Back</a>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-card class = "card">
        <form [formGroup] = "addMedicineForm" class = "add-medicine-form">
            <mat-form-field class = "field-width">
                <mat-label>Medicine code</mat-label>
                <input type = "text" matInput placeholder = "Medicine code" formControlName = "medicineCode" required>
                <mat-error *ngIf = "hasError('medicineCode', 'required')">Medicine code is required!</mat-error>
            </mat-form-field>
            <mat-form-field class = "field-width">
                <mat-label>Name</mat-label>
                <input type = "text" matInput placeholder = "Name" formControlName = "name" required>
                <mat-error *ngIf = "hasError('name', 'required')">Name is required!</mat-error>
            </mat-form-field>
            <mat-form-field class = "field-width">
                <mat-label>Medicine type</mat-label>
                <input type = "text" matInput placeholder = "Medicine type" formControlName = "medicineType" required>
                <mat-error *ngIf = "hasError('medicineType', 'required')">Medicine type is required!</mat-error>
            </mat-form-field>
            <mat-form-field class = "field-width">
                <mat-label>Form</mat-label>
                <input type = "text" matInput placeholder = "Form" formControlName = "form" required>
                <mat-error *ngIf = "hasError('form', 'required')">Form is required!</mat-error>
            </mat-form-field>
            <mat-form-field class = "field-width">
                <mat-label>Composition</mat-label>
                <textarea class = "textarea-size" matInput placeholder = "Composition" formControlName = "composition" required></textarea>
                <mat-error *ngIf = "hasError('composition', 'required')">Composition is required!</mat-error>
            </mat-form-field>
            <mat-form-field class = "field-width">
                <mat-label>Manufacturer</mat-label>
                <input type = "text" matInput placeholder = "Manufacturer" formControlName = "manufacturer" required>
                <mat-error *ngIf = "hasError('manufacturer', 'required')">Manufacturer is required!</mat-error>
            </mat-form-field>
            <mat-label>Prescription</mat-label>
            <mat-radio-group class = "radio-group" formControlName = "prescription">
                <mat-radio-button class = "radio-button" [value] = "true" [checked] = "true">Yes</mat-radio-button>
                <mat-radio-button class = "radio-button" [value] = "false">No</mat-radio-button>
            </mat-radio-group>
            <mat-form-field class = "field-width">
                <mat-label>Substitute medicine</mat-label>
                <mat-select formControlName = "substituteMedicineIds" multiple>
                    <mat-option *ngFor = "let medicine of serverSubstituteMedicine" [value] = medicine.id>{{medicine['name']}}</mat-option> 
                </mat-select>
            </mat-form-field>
            <mat-form-field class = "field-width">
                <mat-label>Addtional comments</mat-label>
                <textarea class = "textarea-size" matInput placeholder = "Addtional comments" formControlName = "addtionalComments"></textarea>
            </mat-form-field>
        </form>
        <button (click) = "addMedicine()" [disabled] = "addMedicineForm.invalid" mat-raised-button color="primary">Add</button>
    </mat-card>
</body>
