<body>
    <section>
        <div class="wave"></div>
        <ul>
            <li> <a href="PharmacistProfile.html"> MY PROFILE</a> </li>
            <li> <a href="http://localhost:4200/PharmacistPatientComponent"> SEARCH PATIENTS</a></li>
            <li> <a href="http://localhost:4200/PharmacistCalendarComponent"> WORK CALENDAR</a></li>
            <li> <a href="Absence.html"> ABSENCE FORM </a></li>
            <li> <a href="Appointments.html"> APPOINTMENTS </a></li>
            <li> <a href="http://localhost:4200/PharmacistAppointmentCreationComponent">MAKE APPOINTMENT</a></li>
            <li> <a href="Medication.html">GIVE OUT MEDICATION</a></li>
        </ul>
    </section>
</body>