<!DOCTYPE html>
<div>
    <mat-toolbar color = "primary">
        <mat-toolbar-row>

            <span>Pharmacy profile page</span>
            
            <a mat-button routerLink="/medicinePurchaseOrder">Create purchase order</a>

            <a mat-button routerLink="/activePurchaseOrders">Active purchase orders</a>

            <a mat-button routerLink="/predefineDermatologistAppointment">Define new dermatologist appointment</a>

            <a mat-button routerLink="/medicineInquiries">Medicine inquiries</a>
           
            <a mat-button routerLink="/editMedicinePharmacyPrice">Edit medicine price</a>

            <a mat-button routerLink="/absenceRequests">Absence requests</a>

            <a mat-button routerLink="/createAction">New action</a>

            <a mat-button routerLink="/createPromotion">New promotion</a>

            <span style = "flex: 1 1 auto;"></span>
            <a mat-button (click) = "back()">Back</a>

            <a mat-button (click) = "logout()">Logout</a>

        </mat-toolbar-row>
    </mat-toolbar>
    <mat-card class = "card">
        <mat-card-title class = "card-title">Pharmacy information</mat-card-title>
        <form [formGroup] = "updateForm" class = "update-form">
            <mat-form-field class = "field">
                <mat-label>Name</mat-label>
                <input type = "text" matInput placeholder = "Name" formControlName = "name" required>
                <mat-error *ngIf = "hasError('name', 'required', updateForm)">Name is required!</mat-error>
            </mat-form-field>
            <mat-form-field class = "field">
                <mat-label>Address</mat-label>
                <input type = "text" matInput placeholder = "Address" formControlName = "address" required>
                <mat-error *ngIf = "hasError('address', 'required', updateForm)">Address is required!</mat-error>
            </mat-form-field>
            <mat-form-field class = "field">
                <mat-label>Appointment price</mat-label>
                <input type = "text" matInput placeholder = "Appointment price" formControlName = "appointmentPrice" required>
                <mat-error *ngIf = "hasError('appointmentPrice', 'required', updateForm)">Appointment price is required!</mat-error>
            </mat-form-field>
            <mat-form-field class = "field">
                <mat-label>City</mat-label>
                <input type = "text" matInput placeholder = "City" formControlName = "city" required>
                <mat-error *ngIf = "hasError('city', 'required', updateForm)">City is required!</mat-error>
            </mat-form-field>
            <mat-form-field class = "field">
                <mat-label>Country</mat-label>
                <input type = "text" matInput placeholder = "Country" formControlName = "country" required>
                <mat-error *ngIf = "hasError('country', 'required', updateForm)">Country is required!</mat-error>
            </mat-form-field>
            <mat-form-field class = "field">
                <mat-label>Description</mat-label>
                <input type = "text" matInput placeholder = "Description" formControlName = "description" required>
                <mat-error *ngIf = "hasError('description', 'required', updateForm)">Description is required!</mat-error>
            </mat-form-field>
            <mat-form-field class = "field">
                <mat-label>Rating</mat-label>
                <input type = "text" matInput placeholder = "Rating" formControlName = "rating" readonly>
                <mat-error *ngIf = "hasError('rating', 'required', updateForm)">Rating is required!</mat-error>
            </mat-form-field>
        </form>
        <button (click) = "update()" [disabled] = "updateForm.invalid" mat-raised-button color="primary">Update</button>
    </mat-card>
</div>
