<body>
    <section><div class="wave"></div>
        <h1 class="title">SEARCH PATIENTS</h1>
        
        <div class="form-search">
            <label for="sort-by" id="sort-by">Sort by:</label>
            <select name="sort-options" id="sort-options">
                <option value="name">name</option>
                <option value="surname">surname</option>
                <option value="date">date of examination</option>
            </select>
        </div>
        
        <table name="patientsDermatologist" id="patientsDermatologist">
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Password</th>
                <th>Email</th>
                <th>Adress</th>
                <th>City</th>
                <th>Country</th>
                <th>PhoneNumber</th>
            </tr>
            <tr *ngFor="let patient of patients">
                <td>{{patient['id']}}</td>
                <td>{{patient['username']}}</td>
                <td>{{patient['name']}}</td>
                <td>{{patient['surname']}}</td>
                <td>{{patient['password']}}</td>
                <td>{{patient['email']}}</td>
                <td>{{patient['city']}}</td>
                <td>{{patient['country']}}</td>
                <td>{{patient['adress']}}</td>
                <td>{{patient['phoneNumber']}}</td>
             </tr>
        </table>

        <div class="return"><a href="http://localhost:4200/DermatologistHomePage">Back to homepage</a></div>
    </section>
    

</body>