<body>
    <section><div class="wave"></div>
        <h1 class="title">SEARCH PATIENTS</h1>
        
        <div class="form-search">
            <label id="search-label" for="search-patients">Search Patients:</label>
            <input type="search" name="search-patients" id="search-patients">
            <label for="sort-by" id="sort-by">Sort by:</label>
            <select name="sort-options" id="sort-options">
                <option value="name">name</option>
                <option value="surname">surname</option>
                <option value="date">date of examination</option>
            </select>
        </div>
        
        <table name="patients" id="patients">
            <tr><td>No patients with this name!</td></tr>
        </table>

        <div class="return"><a href="http://localhost:4200/DermatologistHomePage">Back to homepage</a></div>
    </section>
    

</body>