body {
  background: url(../pictures/patients.png);
  background-size: cover;
  background-attachment: fixed;
}

  .update-form{
    min-width: 150px;
    max-width: 800px;
    width: 100%;
  }
    
  .field {
    width: 100%;
  }
  
  .card {
    width: 70%;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #DEEDE6;
  }

  button{
    margin-right: 10px;
  }

  .table-card {
    width: 700px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #DEEDE6
}

table {
    width: 100%;
}

.data-table {
    width: 100%;
}

.coloumnComposition {
    width: 20%; 
}

.coloumnName {
    width: 20%; 
}

.coloumnQuantity {
    width: 10%; 
}

.add {
  width: 10%;
}

.addButton{
  background-color: steelblue;
}

.removeButton{
  background-color: steelblue;
}

.inputTable{
  margin: 5px;
}