<!DOCTYPE html>
<body class = "login-background">
  <mat-toolbar color = "primary">
      <mat-toolbar-row>
          <span>Login</span>
          <span style = "flex: 1 1 auto;"></span>
          <a mat-button routerLink = "/register">Registration</a>
        </mat-toolbar-row>
  </mat-toolbar>
  <div class = "main-div">
    <mat-card class = "card">
      <form [formGroup] = "loginForm" class = "login-form">
          <mat-form-field class = "field-width">
              <mat-label>Username</mat-label>
              <input type = "text" matInput placeholder = "Username" formControlName = "username" required>
              <mat-error *ngIf = "hasError('username', 'required')">Username is required!</mat-error>
          </mat-form-field>
          <mat-form-field class = "field-width">
              <mat-label>Password</mat-label>
              <input type = "password" matInput placeholder = "Password" formControlName = "password" required>
              <mat-error *ngIf = "hasError('password', 'required')">Password is required!</mat-error>
          </mat-form-field>
      </form>
      <button (click) = "login()" [disabled] = "loginForm.invalid" mat-raised-button color="primary">Login</button>
  </mat-card>
  </div>
</body>
 
