.login-form{
    min-width: 150px;
    max-width: 700px;
    width: 100%;
  }
    
.field-width {
  width: 100%;
}

.card {
  width: 700px;
  height: 150px;
  margin-top: 10px;
  margin-left: 10px;
  text-align: center;
  background-color: #DEEDE6
}