<div>
    <mat-toolbar color = "primary">
        <mat-toolbar-row>
            <a mat-button (click) = "back()">HOMEPAGE</a>
            <a mat-button (click) = "profile()"> MY PROFILE</a>
            <a mat-button (click) = "patients()" [disabled] = "firstLogin"> VIEW EXAMINED PATIENTS</a>
            <a mat-button (click) = "allPatients()" [disabled] = "firstLogin"> VIEW ALL PATIENTS</a>
            <a mat-button (click) = "calendar()" [disabled] = "firstLogin"> WORK CALENDAR</a>
            <a mat-button (click) = "absence()" [disabled] = "firstLogin"> ABSENCE FORM </a>
            <a mat-button (click) = "reservations()" [disabled] = "firstLogin">GIVE OUT MEDICATION</a>
            <a mat-button (click) = "medicine()" [disabled] = "firstLogin">VIEW MEDICINE</a>
            <a mat-button (click) = "logout()">LOGOUT</a>
        </mat-toolbar-row>
    </mat-toolbar>
    <full-calendar id = "calendar" [options]="calendarOptions"></full-calendar>
</div>