

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  background: rgb(25, 76, 117);
  position: sticky;
  top: 0;
  z-index: 1;
}


.mat-sidenav{
  background: rgb(25, 76, 117); 
}

.header{
  margin-left: 85%;
}

.list_item{
  color: whitesmoke;
}

a{
  color: whitesmoke;
}


.example-card {
  max-width: 400px;
  margin-top: 5%;
  margin-left: 20%;
  background-color: lightsteelblue;
}

.example-card1 {
  max-width: 400px;
  margin-top: -50%;
  margin-left: 65%;
  background-color:  lightsteelblue;
}

.example-header-image {
  background-image: url('profileIcon.jpg');
  background-size: cover;
}

.data{
  color: whitesmoke;
}

button{
  background-color: rgb(29, 87, 134);
}


