
.bodyy{
  background: url('back2.jpg');
}

mat-toolbar{
  background: rgb(25, 76, 117);
  color: white;
}

.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background: url('profileIcon.jpg');
    background-size: cover;
  }

  mat-card{
    margin-top: 5%;
    margin-left: 35%;
  }

  button{
    background-color: rgb(29, 87, 134);
  }

  .example-spacer {
    flex: 1 1 auto;
  }