<!DOCTYPE html>
<body class = "supplier-profile-page-background">
    <mat-toolbar color = "primary">
        <mat-toolbar-row>
            <a mat-button (click) = "back()">HOMEPAGE</a>
            <a mat-button (click) = "patients()" [disabled] = "firstLogin"> VIEW EXAMINED PATIENTS</a>
            <a mat-button (click) = "allPatients()" [disabled] = "firstLogin"> VIEW ALL PATIENTS</a>
            <a mat-button (click) = "calendar()" [disabled] = "firstLogin"> WORK CALENDAR</a>
            <a mat-button (click) = "absence()" [disabled] = "firstLogin"> ABSENCE FORM </a>
            <a mat-button (click) = "appointments()" [disabled] = "firstLogin"> APPOINTMENTS </a>
            <a mat-button (click) = "medicine()" [disabled] = "firstLogin">VIEW MEDICINE</a>
            <a mat-button (click) = "logout()">LOGOUT</a>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-card class = "card">
        <mat-card-title class = "card-title">Account information</mat-card-title>
        <form [formGroup] = "updateForm" class = "update-form">
            <mat-form-field class = "field">
                <mat-label>Username</mat-label>
                <input type = "text" matInput placeholder = "Username" formControlName = "username" readonly>
            </mat-form-field>
            <mat-form-field class = "field">
                <mat-label>Email</mat-label>
                <input type = "email" matInput placeholder = "Email" formControlName = "email" readonly>
            </mat-form-field>
            <mat-form-field class = "field">
                <mat-label>Name</mat-label>
                <input type = "text" matInput placeholder = "Name" formControlName = "name" required>
                <mat-error *ngIf = "hasError('name', 'required', updateForm)">Name is required!</mat-error>
            </mat-form-field>
            <mat-form-field class = "field">
                <mat-label>Surname</mat-label>
                <input type = "text" matInput placeholder = "Surname" formControlName = "surname" required>
                <mat-error *ngIf = "hasError('surname', 'required', updateForm)">Surname is required!</mat-error>
            </mat-form-field>
            <mat-form-field class = "field">
                <mat-label>Address</mat-label>
                <input type = "text" matInput placeholder = "Address" formControlName = "address" required>
                <mat-error *ngIf = "hasError('address', 'required', updateForm)">Address is required!</mat-error>
            </mat-form-field>
            <mat-form-field class = "field">
                <mat-label>City</mat-label>
                <input type = "text" matInput placeholder = "City" formControlName = "city" required>
                <mat-error *ngIf = "hasError('city', 'required', updateForm)">City is required!</mat-error>
            </mat-form-field>
            <mat-form-field class = "field">
                <mat-label>Country</mat-label>
                <input type = "text" matInput placeholder = "Country" formControlName = "country" required>
                <mat-error *ngIf = "hasError('country', 'required', updateForm)">Country is required!</mat-error>
            </mat-form-field>
            <mat-form-field class = "field">
                <mat-label>Phone number</mat-label>
                <input type = "tel" matInput placeholder = "Phone number" formControlName = "phoneNumber" required>
                <mat-error *ngIf = "hasError('phoneNumber', 'required', updateForm)">Phone number is required!</mat-error>
                <mat-error *ngIf = "hasError('phoneNumber', 'maxlength', updateForm) || hasError('phoneNumber', 'minlength', updateForm)">
                    Phone number has to have 10 digits!
                </mat-error>
            </mat-form-field>
            <mat-form-field class = "field">
                <mat-label>Rating</mat-label>
                <input type = "text" matInput placeholder = "Rating" formControlName = "rating" readonly>
            </mat-form-field>
        </form>
        <button (click) = "update()" [disabled] = "updateForm.invalid" mat-raised-button color="primary">Update</button>
    </mat-card>
    <mat-card class = "card">
        <mat-card-title class = "card-title">Change password</mat-card-title>
        <form [formGroup] = "updatePasswordForm" class = "update-form">
            <mat-form-field class = "field">
                <mat-label>Old password</mat-label>
                <input type = "password"  matInput placeholder = "Type in old password" formControlName = "oldPassword" required>
                <mat-error *ngIf = "hasError('oldPassword', 'required', updatePasswordForm)">Type in old password!</mat-error>
            </mat-form-field>
            <mat-form-field class = "field">
                <mat-label>New password</mat-label>
                <input type = "password" (input)="checkPasswords()" matInput placeholder = "Type in new password" formControlName = "password" required>
                <mat-error *ngIf = "hasError('password', 'required', updatePasswordForm)">Type in new password!</mat-error>
            </mat-form-field>
            <mat-form-field class = "field">
                <mat-label>Confirm new password</mat-label>
                <input type = "password"  (input)="checkPasswords()" matInput placeholder = "Confirm new password" formControlName = "confirmPassword" required>
                <mat-error *ngIf = "hasError('confirmPassword', 'required', updatePasswordForm)">Type in new password again!</mat-error>
                <mat-error *ngIf = "confirmPassword?.invalid && !hasError('confirmPassword','required', updatePasswordForm)">Passwords do not match!</mat-error>
            </mat-form-field>
        </form>
        <button (click) = "updatePassword()" [disabled] = "updatePasswordForm.invalid" mat-raised-button color="primary">Update password</button>
    </mat-card>
</body>