.example-card {
    max-width: 500px;
    margin: 4px
    }
    
    mat-card-subtitle{
    font-size:20px
    }
    
    mat-card-title{
    color:green;
    font-size:40px
    }

    .material-icons{
      margin-left: 5px;  
      margin-bottom: 10px;
    }
    
