<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>REVIEW PHARMACIST</span>
    <span class="example-spacer"></span>
    <button mat-icon-button (click) = "backToReview()" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>done</mat-icon>
    </button>
    <button mat-icon-button (click) = "home()" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button (click) = "profile()"  class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>account_circle</mat-icon>
    </button>
</mat-toolbar>


<div *ngIf="empty">
    <mat-card class = "table-card">
        <mat-card-header>
            <span class="title_card1"><h2>YOU CAN GIVE REVIEW FOR THESE PHARMACISTS</h2></span>
        </mat-card-header>
        <img mat-card-image class="imageFront" src="assets\dermatologists.jpg">
        <br />
        <div class="sadrzaj">
            <span class="title_card1"><h2>YOU DIDN'T HAVE ANY APPOINMENT WITH PHARMACISTS. <br /> 
                FOR GIVING REVIEW YOU MUST HAVE AT LEAST ONE APPOINMENT WITH PHARMACISTS</h2></span>
        </div>
    </mat-card>
</div>


<div *ngIf="showTable">
    <mat-card class = "table-card">
        <mat-card-header>
            <span class="title_card1"><h2>YOU CAN GIVE REVIEW FOR THESE PHARMACISTS</h2></span>
        </mat-card-header>
        <img mat-card-image class="imageFront" src="assets\dermatologists.jpg">
        <mat-form-field class="example-full-width">
            <mat-label>Filter pharmacist by entering his data.</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Marko" #input>
        </mat-form-field>

        <div class = "data-table">
            <table mat-table [dataSource]="dataSource">
                
            
                <ng-container matColumnDef="NAME">
                <th mat-header-cell class = "coloumnName" *matHeaderCellDef> NAME </th>
                <td mat-cell *matCellDef="let element"> {{element.name}}</td>
                </ng-container>

                <ng-container matColumnDef="SURNAME">
                    <th mat-header-cell class = "coloumnSurname" *matHeaderCellDef> SURNAME </th>
                    <td mat-cell *matCellDef="let element"> {{element.surname}}</td>
                    </ng-container>
    
                <ng-container matColumnDef="PHONE NUMBER">
                    <th mat-header-cell class = "coloumnNumber" *matHeaderCellDef> PHONE NUMBER </th>
                    <td mat-cell *matCellDef="let element"> {{element.phoneNumber}}</td>
                </ng-container>
                
                <ng-container matColumnDef="E-MAIL">
                    <th mat-header-cell class = "coloumnEmail" *matHeaderCellDef> E-MAIL </th>
                    <td mat-cell *matCellDef="let element"> {{element.email}}</td>
                </ng-container>
                
                <ng-container matColumnDef="RATING">
                    <th mat-header-cell class = "coloumnRating" *matHeaderCellDef> PHARMACIST'S RATE </th>
                    <td mat-cell *matCellDef="let element"> {{element.rating}}</td>
                </ng-container>
    
    
                <ng-container matColumnDef="RATE">
                    <th mat-header-cell class="columnRate" *matHeaderCellDef> RATE </th>
                    <td mat-cell *matCellDef="let element"> 
                        <button (click) = "rate(element)" mat-raised-button color="primary">RATE</button>
                    </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
        </div>
    </mat-card>
</div>


<div class="pharmacistDiv" *ngIf="showCard">
    <mat-card  class="pharmacistCard">
        <mat-card-header>
            <mat-card-title>PHARMACIST</mat-card-title>
        </mat-card-header>
        <img mat-card-image class="imageP" src="assets\dermatologProfile.jpg">
          <mat-card-content>

            <div class="centriraj">
                <h3><strong>DERMATOLOGIST'S DATA</strong></h3>

                <strong>PHARMACIST:</strong> <span class="pomjeri"> {{chosenPharmacist.name}} {{chosenPharmacist.surname}} </span>
                <br />
                <strong>PHONE NUMBER: </strong> <span class="pomjeri"> {{chosenPharmacist.phoneNumber}} </span>
                <br />
                <strong>E-MAIL: </strong> <span class="pomjeri">{{chosenPharmacist.email}}</span>
                 <br />
                <strong>PHARMACIST'S RATE : </strong> <span class="pomjeri">{{chosenPharmacist.rating}}</span>
                <br />

                <br />
                <br />

                <label id="example-radio-group-label">Give rating to this pharmacist</label>
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="chosenStars">
                <mat-radio-button class="example-radio-button" *ngFor="let star of stars" [value]="star">
                    {{star}} 
                </mat-radio-button>
                </mat-radio-group>
            </div>


          </mat-card-content>
          <mat-card-actions>
            <div class="pomjeri_dugmice">
            <button class="orderButton" (click) = "sendRating()" mat-button>RATE</button>
            <button class="quitButton" (click) = "quit()" mat-button>EXIT</button>
            </div>
          </mat-card-actions>
    </mat-card>
</div>