<table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Id</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pharmacist of pharmacists ">
        <td>{{ pharmacist.name }}</td>
        <td>{{ pharmacist.surname }}</td>
        <td>{{ pharmacist.id }}</td>
        <td>
          <button class="btn btn-danger" (click)="deletePharmacist(pharmacist)">
            Delete pharmacist
          </button>
        </td>
      </tr>
  
      <td><a [routerLink]="['/pharmacyAdmin']">Nazad</a></td>
    </tbody>
  </table>
  