.registration-form{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
   
  .field-width {
    width: 100%;
  }

  .radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0; 
  }

  .radio-button {
    margin: 5px;
  }