<!DOCTYPE html>
<body class = "registration-background">
    <mat-toolbar color = "primary">
        <mat-toolbar-row>
            <span>Registration</span>
            <span style = "flex: 1 1 auto;"></span>
            <a mat-button (click) = "systemAdminProfilePage()" *ngIf = "systemAdmin">Back</a>
            <a mat-button routerLink = "/login" *ngIf = "!systemAdmin">Login</a>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-card class = "card">
        <form [formGroup] = "registrationForm" class = "registration-form">
            <mat-form-field class = "field-width">
                <mat-label>Email</mat-label>
                <input type = "email" matInput placeholder = "Email" formControlName = "email" required>
                <mat-error *ngIf = "hasError('email', 'required')">Email is required!</mat-error>
                <mat-error *ngIf = "hasError('email', 'pattern') && !hasError('email', 'required')">Email format is not valid!</mat-error>
            </mat-form-field>
            <mat-form-field class = "field-width">
                <mat-label>Username</mat-label>
                <input type = "text" matInput placeholder = "Username" formControlName = "username" required>
                <mat-error *ngIf = "hasError('username', 'required')">Username is required!</mat-error>
            </mat-form-field>
            <mat-form-field class = "field-width">
                <mat-label>Password</mat-label>
                <input type = "password" (input)="checkPasswords()" matInput placeholder = "Password" formControlName = "password" required>
                <mat-error *ngIf = "hasError('password', 'required')">Password is required!</mat-error>
            </mat-form-field>
            <mat-form-field class = "field-width">
                <mat-label>Confirm password</mat-label>
                <input type = "password" (input)="checkPasswords()" matInput placeholder = "Confirm password" formControlName = "confirmPassword" required>
                <mat-error *ngIf = "hasError('confirmPassword', 'required')">Enter the password again!</mat-error>
                <mat-error *ngIf = "confirmPassword?.invalid && !hasError('confirmPassword','required')">Passwords don't match</mat-error>
            </mat-form-field>
            <mat-form-field class = "field-width">
                <mat-label>Name</mat-label>
                <input type = "text" matInput placeholder = "Name" formControlName = "name" required>
                <mat-error *ngIf = "hasError('name', 'required')">Name is required!</mat-error>
            </mat-form-field>
            <mat-form-field class = "field-width">
                <mat-label>Surname</mat-label>
                <input type = "text" matInput placeholder = "Surname" formControlName = "surname" required>
                <mat-error *ngIf = "hasError('surname', 'required')">Surname is required!</mat-error>
            </mat-form-field>
            <mat-form-field class = "field-width">
                <mat-label>Address</mat-label>
                <input type = "text" matInput placeholder = "Address" formControlName = "adress" required>
                <mat-error *ngIf = "hasError('adress', 'required')">Address is required!</mat-error>
            </mat-form-field>
            <mat-form-field class = "field-width">
                <mat-label>City</mat-label>
                <input type = "text" matInput placeholder = "City" formControlName = "city" required>
                <mat-error *ngIf = "hasError('city', 'required')">City is required!</mat-error>
            </mat-form-field>
            <mat-form-field class = "field-width">
                <mat-label>Country</mat-label>
                <input type = "text" matInput placeholder = "Country" formControlName = "country" required>
                <mat-error *ngIf = "hasError('country', 'required')">Country is required!</mat-error>
            </mat-form-field>
            <mat-form-field class = "field-width">
                <mat-label>Phone number</mat-label>
                <input type = "tel" matInput placeholder = "Phone number" formControlName = "phoneNumber" required>
                <mat-error *ngIf = "hasError('phoneNumber', 'required')">Phone number is required!</mat-error>
                <mat-error *ngIf = "hasError('phoneNumber', 'maxlength') || hasError('phoneNumber', 'minlength')">
                    Phone number has to have 10 digits!
                </mat-error>
            </mat-form-field>
            <mat-form-field *ngIf = "systemAdmin">
                <mat-label>Select user type</mat-label>
                <mat-select [(value)]="selected" formControlName = "userType" required>
                    <mat-option *ngFor = "let user of users" [value]="user">{{user}}</mat-option>
                </mat-select>
            </mat-form-field>
        </form>
        <button (click) = "register()" [disabled] = "registrationForm.invalid" mat-raised-button color="primary">Register</button>
    </mat-card>
</body>