<body>
    <section>
        <div class="wave"></div>
        <ul>
            <li> <a routerLink="/DermatologistProfilePageComponent"> MY PROFILE</a> </li>
            <li> <a routerLink="/DermatologistPatientComponent"> VIEW PATIENTS</a></li>
            <li> <a routerLink="/DermatologistCalendarComponent"> WORK CALENDAR</a></li>
            <li> <a href="Absence.html"> ABSENCE FORM </a></li>
            <li> <a routerLink="/DermatologistAppointmentsComponent"> APPOINTMENTS </a></li>
            <li (click) = "logout()"><a>LOGOUT</a></li>
        </ul>
    </section>
</body>