<body>
    <section>
        <div class="wave"></div>
        <ul>
            <li> <a href="DermatologistProfile.html"> MY PROFILE</a> </li>
            <li> <a href="Patients.html"> SEARCH PATIENTS</a></li>
            <li> <a href="Calendar.html"> WORK CALENDAR</a></li>
            <li> <a href="Absence.html"> ABSENCE FORM </a></li>
            <li> <a href="Appointments.html"> APPOINTMENTS </a></li>
            <li> <a href="AppointmentCreation.html">MAKE APPOINTMENT</a></li>
        </ul>
    </section>
</body>