.define-categories-form {
    max-width: 500px;
    width: 100%;
}
    
.field-width {
    width: 100%;
}

.card {
    width: 500px;
    margin-top: 20px;
    margin-left: 10px;
    background-color: #DEEDE6
}