<!DOCTYPE html>
<body class = "appointment-creation-background">
    <mat-toolbar color = "primary">
        <mat-toolbar-row>
            <span>New Appointment</span>
            <span style = "flex: 1 1 auto;"></span>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-card class = "card">
        <form [formGroup] = "appointmentForm" class = "appointment-form">
            <mat-form-field class = "field-width">
                <mat-label>Starting time</mat-label>
                <input type="datetime-local" id="meetingTime" name="meetingTime" matInput placeholder="meetingTime" value="2021-03-12T19:30" formControlName = "meetingTime" required>
                <mat-error *ngIf = "hasError('meetingTime', 'required')">The meeting time is required!</mat-error>
            </mat-form-field>
            <mat-form-field class = "field-width">
                <mat-label>Ending time</mat-label>
                <input type="time" id="endingTime" name="endingTime" matInput placeholder="endingTime" formControlName = "endingTime" required>
                <mat-error *ngIf = "hasError('endingTime', 'required')">The ending time is required!</mat-error>
            </mat-form-field>
        </form>
        <button (click) = "makeAppointment()" [disabled] = "appointmentForm.invalid" mat-raised-button color="primary">Create Appointment</button>
    </mat-card>
</body>