.example-spacer {
    flex: 1 1 auto;
}

table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }


  td, th {
    width: 8%;
}


.imageFront{
  margin-top: 7px;
  margin-left: 200px;
  width: 1000px;
  height: 600px;
}

.card{
  background-color: #DEEDE6;
  width: 1420px;
  margin-top: 10px;
  margin-left: 20px;
}

.h2{
  margin-left: 360px;
}

.h22{
  margin-left: 350px;
}
  