<!DOCTYPE html>
<body class = "system-admin-profile-page-background">
    <mat-toolbar color = "primary">
        <mat-toolbar-row>
            <a mat-button routerLink = "/register">Register users</a>
            <a mat-button routerLink = "/registerPharmacies">Register pharmacies</a>
            <a mat-button routerLink = "/addMedicine">Add medicine</a>
            <a mat-button>Respond to patient complaints</a>
            <a mat-button>Loyalty program</a>
        </mat-toolbar-row>
    </mat-toolbar>
</body>
